h1 { font-size: 1.2rem}
.kat{

   width: 50%!important;
}
input[type=text] {
 padding: 5px ;
}      
 
 
i.body {
 font-style : normal;
 font-size: 20px;
 background: #fff8b7;
 line-height: 2em;
 width: 2em;
 text-align: center;
 display: inline-block;
border-radius: 1em;
}
.cl3 .man p, .cl3 .auto p {
 padding-top: 20px;
}

.auto i, .autonext i {
 font-style: normal;
 line-height: 1em;
 height: 50px;
 vertical-align: middle;
 display: table-cell;
 padding: 0 10px;
}
p.hodnbox{
 line-height: 1em;
}
.man p span.sman {
 background-image: url('./images/man.png') ;
 background-position:  center center;
 background-repeat: no-repeat;
 line-height: 50px;  

margin-right:  0px;
margin-top: -15px;
margin-left: -60px;
}                                                                      
.auto p span.nxt , .autonext  p span.nxt       {
 background-image: url('./images/nxt.png') ;
 background-position:  center center;
 background-repeat: no-repeat;
 line-height: 50px;   
 display: none; 
}                                                    
.vaha {
 float:left;
 color: #c0c0c0;
 color: red;
 font-size: 150%;
 font-weight: bold;
 display: block;   
}    
.vaha:before { content : '' }
.kat .kat {
width: 420px;
}     
.kat .kat label {
 width: 400px;
}
.kat .kat textarea {
 width: 100%;
}
.auto { display: none; }

.auto {  

 display: block; 
} 



.nomerge:before{
 border-top: 5px solid #fff8b7; 
 height: calc( 100% - 10px );
}


.kat .hodn p {
 background: #fff8b7;
   padding: 20px;
}
label { font-size: 90%;  floaT: right; width: calc(100% - 20px); clear: both; padding-top: 0px; line-height: 1em; margin-bottom: 0rem; margin-top: .2rem;}
.radiopadding { clear: both; padding-top: 4px; }
h4 { font-weight: normal; font-size: 120%; padding-bottom: 3px; margin-bottom: 3px; border-bottom: 1px dotted #c0c0c0; }
.nope span  { display: block; border-bottom: 1px dotted red; padding-bottom: 7px; margin-bottom:7px }
.advanced { border-top-width: 5px ; border-bottom-width: 5px; border-left-width:1px; border-right-width: 1px  }
 .kat { width: 100%; position: relative; padding: 10px; background: #efefef; margin-bottom: 10px;}
 .hclass{ /* min-height: 280px;*/ }
 .titleceeper h4 { margin-top: 5px; }
span a:hover { color: red!important;} 
.compact .titleceeper h4 { font-size: 100%; } 
.kat #contactsubmit {width : 158px!important;}
.titleceeper h4.compact  { font-size: 100%; } 
 textarea { width: 100%; padding: 15px; }
 

.newst .section.man {  
 margin-right: -370px;
}
.newst  .hodnbox textarea {
 width: 280px;
 height: 80px;
}
.section.extra p b {
font-size: 120%; 
}
.helper {
   position: absolute;
   min-height: 10px;
   right: -0px;
   z-index: 1000;
   top: 20px;
   display: none;
}

.helper:after{
 content: '?';
 width: 30px;
 height: 30px;
 background: #839098;
 color: #fff;
 position: absolute;
 right: 0;
 top: -10px;
 display: block;
 border-radius: 15px;
 line-height: 30px;
 text-align: center;
 cursor: pointer;
}
.helper:hover .jumper {
   display: block;
}
.jumper {
   z-index: 800;
   position: absolute;
   color: #FFFFFF;
   text-align: center;
   padding: 25px;
   
   background: #839098;
   border-radius: 2px;
   -webkit-filter: drop-shadow(2px 2px 2px #E0E0E0);
   filter: drop-shadow(2px 2px 2px #E0E0E0);
   display: none;
   top: 60px;

   text-align: left;
   font-size: 80%;
   -ms-transform: translateY(-100%);
   -webkit-transform: translateY(-100%);
   transform: translateY (-100%);
   width: 400px;
   right: 35px;
}
.jumper ul li span {
 
 color: white;
 width: 100%;
 height: auto;
 clear: left;
 max-height: auto;
 float: none
}
.jumpoer ul li {
 margin-left: 0;
 height: auto;
 max-height: auto;
}
.jumper:after {
   content: '';
   position: absolute;
   border-style: solid;
   border-width: 15px 0 15px 15px;
   border-color: transparent #839098;
   display: block;
   width: 0;
   z-index: 1;
   right: -14px;
   top: 10px;
  display: none;
}
.noNEXT {
 margin-top: -20px;
}
.smaller span {
 width: 2em;
}
.section .nadpis {
 background: red;
}

.cl1.hclass   {

 /*   min-height: 400px;*/

}
.section.auto p{ display: block; }

.man i { font-weight: bold;}


.kat_komunita h4 {
 color:#da741b!important;
}
.kat_komunita {
 border-color : #da741b!important;
 background: #fdf5ed!important;
}
.kat_komunita .answ {

 background: #fef9f4!important;
}

.kat_eko h4 {
 color:#6ea94f!important;
}
.kat_eko {
 border-color : #6ea94f!important;
 background: #ecfae4!important;
}
.kat_eko .answ {
 background: #f8fdf5!important;
}

.kat_clients h4 {
 color:#7e123f!important;
}
.kat_clients {
 border-color : #7e123f!important;
 background: #fef0f7!important;
} 
.kat_clients .answ {
 background: #fbfdfd!important;
} 

.kat_emplo h4 {
 color:#7c0a77!important;
}
.kat_emplo {
 border-color : #7c0a77!important;
 background: #fde9fd!important;
} 
.kat_emplo .answ {
 background: #fff6fe!important;
} 

.kat_clients h4 {
 color:#13795c!important;
}
.kat_clients {
 border-color : #13795c!important;
 background: #ECF0F3!important;
} 

.kat_strategy h4 {
 color: #284664!important;
}
.kat_strategy {
 border-color : #284664!important;
 background: #d4e2ee!important;
} 
.kat_strategy .answ {
 background: #fbfdfd!important;
} 



.kat_reporting h4 {
 color: #83600f!important;
}
.kat_reporting {
 border-color : #83600f!important;
 background: #faefd2!important;
} 
.kat_reporting .answ {
 background:  #fdfdf1 !important;
}
.answ  {
 padding: 1em;
} 
.files{
 float: left;
}
.files:before {
 right: -610px;
height: 170px;
border-right-width: 10px;
 
}

.answ span.checked, .answ span.not {
   clear: left;
   display: block;
  }
  .answ span.not {
   color: #c0c0c0;
  }
  .answ span.checked {
   font-weight: 700;
  }
  .fa-check-circle {
   color: #404040!important;
   margin-right: 6px;
  }
  .fa-times-circle {
    color: #cfcfcf;!important;
    margin-right: 6px;
  }
  






  
#myreccomend {
   clear: none;
   display: inline-block;
   margin: 0 10px;
   font-size: 22px;
   line-height: 2em;
   width: 2em;
   text-align: center;
   border-radius: 1em;
   background: #fff8b7;
   font-style: normal;
 }
 #sliderrec {
   margin-right: 50px;
 }
 .hodn {
   position: absolute;
   width: 600px;
 right: -610px;
   top: 0;
   height: auto;
   max-height: 100px;
   background: #fefbe0;
   box-sizing: border-box;
 }
 .hodnocenisend {
  margin-left: calc(100% - 300px);
  /* background: #fefbe0; */
  /* padding-left: 20px; */
  box-sizing: border-box;
  padding-bottom: 20px;
  /* position: absolute; */
  /* margin-top: -180px; */
  text-align: right;
 }
 .hideadv {
   display: none;
 }
 .auto {
   position: absolute;
   width: 350px;
   right: -360px;
   top: 10px;         
   height: auto;
   max-height: 100px;
   padding-left: 20px; 
   box-sizing: border-box;
   display: block;
   opacity: 1;  
 }     
 .autonext   {
    position: absolute;
   width: 350px;
   right: -360px;
   top: 10px;         
   height: auto;
   max-height: 100px;
   padding-left: 20px; 
   box-sizing: border-box;
   display: block;
 }
    
 .extra {
     background: #f4f5e3; 
     padding: 10px;
     padding-left: 10px;
     font-style: normal;
     margin: 10px 0 0px 0;
     height: auto;
     padding-left: 20px;
     box-sizing: border-box;
 }
 .extra .hodnbox {                                                    
     margin-bottom: 0px; 
 }
 .extra .hodnbox textarea {
  width : 96.3%;
  min-width: 500px;
 
 }
 textarea {
   height: 170px;
 }
 .man {
  position: absolute;
  width: 90%;
  top: 10px;
  height: auto;
  max-height: 100px;
  padding: 0px 5px;
  box-sizing: border-box;
  z-index: 1000;
  right: calc(-95% - 0px);
  /* background: red; */
} 
            
 .first {
   margin-top: 50px;
 }
 .move {
   margin-top: 155px;
 }
 .section b{
  display: block;
  padding: 0 15px 15px 0;
 }
 
 .dataout {
   background: rgba(255,255,255,0.7);
   padding: 0.5em;
 }
 .dataout:empty {
   background: transparent;
   padding: 0 ;
 }
 auto span, .man span.sman, .autonext span {
  background: #a5a917;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: #f4f5e3;
  line-height: 50px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  floaT: left;
  margin-top: 5px;
}
 .auto p, .man p, autonext p{
  line-height: 35px; 
     font-weight: bold;
     margin-bottom: 30px;
     padding-top: 10px;
     padding-left: 70px;
 }
 .auto p {
   /* margin-top: 25%;*/
 }
  i.body {
   font-style : normal;
   font-size: 20px;
   background: #a5a917;
   line-height: 2em;
   width: 2em;
   text-align: center;
   display: inline-block;
 border-radius: 1em;
 color: #f4f5e3;
 }
 .cl3 .man p, .cl3 .auto p {
   padding-top: 20px;
 }
 
 .auto i, .autonext i {
   font-style: normal;
   line-height: 1em;
   height: 50px;
   vertical-align: middle;
   display: table-cell;
   padding: 0 10px;
 }
 p.hodnbox{
   line-height: 1em;
 }
 .man p span.sman {
   background-image: url('./images/man.png') ;
   background-position:  center center;
   background-repeat: no-repeat;
   line-height: 50px;  
  
 margin-right:  0px;
 margin-top: -15px;
 margin-left: -60px;
 }                                                                      
 .auto p span.nxt , .autonext  p span.nxt       {
   background-image: url('./images/nxt.png') ;
   background-position:  center center;
   background-repeat: no-repeat;
   line-height: 50px;   
   display: none; 
 }                                                    
 .vaha {
   float:left;
   color: #c0c0c0;
   color: red;
   font-size: 150%;
   font-weight: bold;
   display: block;   
 }    
 .vaha:before { content : '' }
 .kat .kat {
  width: 420px;
 }     
 .kat .kat label {
   width: 400px;
 }
 .kat .kat textarea {
   width: 410px;
 }
 .auto { display: none; }
 
 .auto {  
  
   display: block; 
 } 
 

 
 
 .nomerge:before{
   border-top: 5px solid #fff8b7; 
   height: calc( 100% - 10px );
 }
  
 
 .kat .hodn p {
   background: #fff8b7;
     padding: 20px;
 }
 label { font-size: 90%;  floaT: right; width: 420px; clear: both; padding-top: 0px; line-height: 1em;}
 .radiopadding { clear: both; padding-top: 4px; }
 h4 { font-weight: normal; font-size: 120%; padding-bottom: 3px; margin-bottom: 3px; border-bottom: 1px dotted #c0c0c0; }
 .nope span  { display: block; border-bottom: 1px dotted red; padding-bottom: 7px; margin-bottom:7px }
 .advanced { border-top-width: 5px ; border-bottom-width: 5px; border-left-width:1px; border-right-width: 1px  }
   .kat { width: 450px; position: relative; padding: 10px; background: #efefef; margin-bottom: 10px; min-height: 70px;}
   .hclass{ /* min-height: 280px;*/ }
   .titleceeper h4 { margin-top: 5px; }
  span a:hover { color: red!important;} 
  .compact .titleceeper h4 { font-size: 100%; } 
  .kat #contactsubmit {width : 158px!important;}
  .titleceeper h4.compact  { font-size: 100%; } 
   textarea { width: 430px; }
 }
 
 .newst  .man {  
   margin-right: -370px;
 }
 .newst  .hodnbox textarea {
   width: 280px;
   height: 80px;
 }
  .extra p b {
  font-size: 120%; 
 }
 .helper {
     position: absolute;
     min-height: 10px;
     right: -0px;
     z-index: 1000;
     top: 20px;
 }
  
 .helper:after{
   content: '?';
   width: 30px;
   height: 30px;
   background: #839098;
   color: #fff;
   position: absolute;
   right: 0;
   top: -10px;
   display: block;
   border-radius: 15px;
   line-height: 30px;
   text-align: center;
   cursor: pointer;
 }
 .helper:hover .jumper {
     display: block;
 }
 .jumper {
     z-index: 800;
     position: absolute;
     color: #FFFFFF;
     text-align: center;
     padding: 25px;
     
     background: #839098;
     border-radius: 2px;
     -webkit-filter: drop-shadow(2px 2px 2px #E0E0E0);
     filter: drop-shadow(2px 2px 2px #E0E0E0);
     display: none;
     top: 60px;
 
     text-align: left;
     font-size: 80%;
     -ms-transform: translateY(-100%);
     -webkit-transform: translateY(-100%);
     transform: translateY (-100%);
     width: 400px;
     right: 35px;
 }
 .jumper ul li span {
   
   color: white;
   width: 100%;
   height: auto;
   clear: left;
   max-height: auto;
   float: none
 }
 .jumpoer ul li {
   margin-left: 0;
   height: auto;
   max-height: auto;
 }
 .jumper:after {
     content: '';
     position: absolute;
     border-style: solid;
     border-width: 15px 0 15px 15px;
     border-color: transparent #839098;
     display: block;
     width: 0;
     z-index: 1;
     right: -14px;
     top: 10px;
    display: none;
 }
 .noNEXT {
   margin-top: -20px;
 }
 .smaller span {
   width: 2em;
 }
 .section .nadpis {
   background: red;
 }
 
 .cl1.hclass   {
  
     /* min-height: 400px;
  */
 }
  .auto p{ display: block; }
 
 .man i { font-weight: bold;}
 .sliderholder {
   position: absolute;
    left: -5000px;
    top: -5000px;
   }
 .ui-slider {
   float: right;
   width: 50%;
   margin-top: 15px;
   margin-right: 2%
 }
 .ui-state-active,
 .ui-widget-content .ui-state-active,
 .ui-widget-header .ui-state-active,
 a.ui-button:active,
 .ui-button:active,
 .ui-button.ui-state-active:hover {
    border: 1px solid #a5a917;
    background: #a5a917;
    font-weight: normal;
    color: #ffffff;
 }
 
 
 .kat_komunita h4 {
   color:#da741b!important;
 }
 .kat_komunita {
   border-color : #da741b!important;
   background: #fdf5ed!important;
 }
 
 
 .kat_eko h4 {
   color:#6ea94f!important;
 }
 .kat_eko {
   border-color : #6ea94f!important;
   background: #ecfae4!important;
 }
 
  .kat_clients h4 {
   color:#7e123f!important;
 }
 .kat_clients {
   border-color : #7e123f!important;
   background: #fef0f7!important;
 } 
 
 
 .kat_emplo h4 {
   color:#7c0a77!important;
 }
 .kat_emplo {
   border-color : #7c0a77!important;
   background: #fde9fd!important;
 } 
 
 
 .kat_clients h4 {
   color:#13795c!important;
 }
 .kat_clients {
   border-color : #13795c!important;
   background: #ECF0F3!important;
 } 
 
 .kat_strategy h4 {
   color: #284664!important;
 }
 .kat_strategy {
   border-color : #284664!important;
   background: #d4e2ee!important;
 } 
 
 
 .kat_reporting h4 {
   color: #83600f!important;
 }
 .kat_reporting {
   border-color : #83600f!important;
   background: #faefd2!important;
 } 
 
 .files{
   float: left;
   margin-bottom: 10px;
 }
 
 .kat::before {
   content: "";
   position: absolute;
   right: calc(-97% - 20px);
   top: 0;
   width: calc(97% - 0px);
   height: 100%;
   background: #f4f5e3;
   z-index: 0;
   border-left: 5px solid #a5a917;
   border-right: 5px solid #a5a917;
   border-bottom: 5px solid #a5a917;
}



 .kat:before{
   top:   0px;
   height: calc( 100% +  0px );
   border: 0px solid #a5a917;
  }
 .merge:before {
   border-width: 0  ;
   top: -12px;
   height: calc(100% + 13px);
 }
 .merge1st:before {
    
    top:   0px;
 }
 .mergeLast:before {
   
   top: -12px;
   height: calc(100% + 13px);
}
.jurytop {
  position: absolute;
  display: block;
  right: -95%;
  width: 85px;
 
  margin-top: -60px;
}
.jurytop i {
  margin-right: 5px;
}
 
.auto .juryHLP {
  padding: 0!important;
  margin: 0!important;
}
.man .juryHLP p {
  padding: 0em!important;
  margin: 0!important;
  line-height: 1.2em;
  font-weight: normal;
}