 #logo,  #sidebar , footer, #login, .cd-top{
   display: none!important;
 }
 body {
  display: -ms-grid;
  display: block!important;
  -ms-grid-areas: ' login' ' section'  ;
  grid-template-areas:
       login'
      ' section'
      ;
  grid-gap: 0px;
}
h1 {
  color: #404040!important;
   
   margin-top: 0px!important;
  margin-bottom: 10px!important;
 
}
th {
  color: black!important;
}
.noprint, #tableOUT_filter, #btnExport { display: none; }
a { text-decoration: none!important! }

table.dataTable tbody th, table.dataTable tbody td {
  padding: 4px 10px!important;
  font-size: 12px!important;
}
#servis,
span:first-of-type, 
.fa-plus-circle:before,
.payments table td:first-child, .payments table td:nth-child(2) ,
.payments table th:first-child, .payments table th:nth-child(2) ,
#absButtons
{ display: none }