

@media (max-width: 768px) {

  .table-responsive {
 
    width: 90vw;
   
  }

  body, body.full {
    display: -ms-grid;
    display: grid;
    -ms-grid-areas:
    'logo'
    'login'
    'nav'
    'section'
    'footer';
    grid-template-areas:
    'logo'
    'login'
    'nav'
    'section'
    'footer';
    grid-gap: 0px;
  
  }

  #logo  {
     width: 100%;
     max-width: 100%
  }
  #login span { display: none}
  #login {
    line-height: 40px;
    color: #e7e7e7;
    text-align: right;
}
#sidebar {
 
  display: block;
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

h1 {
  color: #898d13;
 
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
  text-align: left
}
.full h1 {
   margin-left: 0;
}
#sidebarCollapse { display: none }
#sidebarCollapse2 { 
  display: block;
  z-index: 1000;
  position: absolute;
  right: 10px;
  top: 10px;
}  
.cd-top { margin-left: 10px; }
#honeypot { margin: 0; }
.input-group-prepend, .input-group-prepend span { width: 100% }

section .fa-plus-circle, section .fa-user-edit { display : none }

a.color {
  color: #898d13!important;
  clear: both;
  width: 100%;
}
.container , .container .row{  max-width: 100%; margin: 0; padding: 0 }
.container .row div.col-3 , .container .row div.col-9  {  margin: 0; padding: 0 ;
  width: 90vw;
  flex: 90%;
  max-width: 90vw;
}
 select {  max-width: 90vw;  width: 90vw; margin-bottom: 5px;}
 select.pseudotxt {  max-width: 90vw;  width: auto; margin-bottom: 0px;}

 .row fieldset:nth-of-type(even), .row fieldset:nth-of-type(odd) {  
   padding-left: 1em!important;
   padding-right: 1em!important;
}
 

}


#loading {
  position: fixed;
  z-index: 50;
  top: 0; left: 0;
  width: 100%; height: 100%;
background:transparent;
  line-height: 350px;
  text-align: center;
  font-size: 36px;
  color: #353231;
  text-indent: -9999px;
}
.v2 #loading { display: none; }

#progress-bar {
  position: absolute;
  top: 0; left: 0;
  background: #a5a917;
  opacity: 0.8;
  width: 0;
  height: 18px;
}
#loader {
/*background: url(http://dl.dropbox.com/u/13256471/fuzionpro/fuzionpro.png) no-repeat center 25%;*/
height: 100%;
display: block;
}





